@media only screen and (max-width: 640px) {
    #main {
        flex-flow: column;
    }
	#h1 {
        padding-top: auto;
        padding-bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
	}
	#searchBox {
		box-sizing: border-box;
		margin: 0 auto;
		height: 3.2rem;
		line-height: 4rem;
		width: 100%;
		font-size: 1.6rem;
	}
    #search {
        margin-top: auto;
        flex-basis: 100%;
    }
    #search > div {
		position: static;
        padding: auto;
        height: auto;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
	#searchItem {
		width: 100%;
		justify-content: space-between;
	}
	#searchItem li {
		margin: 0 auto;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 1.5rem;
		overflow: hidden;
		box-shadow: 0 2px 2px 1px #111111;
		cursor: pointer;
	}
	#searchItem li img {
		width: 100%;
	}
    #search p {
		display: none;
        text-align: center;
        margin-top: -400rem;
		width: 100%;
    }
	#weather {
		display: none;
        margin-top: auto;
        margin-bottom: auto;
	}
	#srcText {
		display: none;
	}
	#dstText {
		display: none;
	}
	#ClickEN {
		display: none;
	}
	#ClickZH {
		display: none;
	}
    #searchItem {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem auto 0 auto;
    }
    #content {
        margin-top: 1rem;
    }
	.item {
		margin: 0 auto;
	}
	.recommend img {
		margin: .5rem 0;
		width: 4.6rem;
		height: 4.6rem;
	}
	.wrap ul {
		margin: 1rem 0;
		list-style-type: none;
		text-align: left;
		color: #6f6f6f;
	}
    #content p {
        text-align: center;
		width: 100%;
    }
	#showtime {
		display: none;
	}
	.tc canvas {
		display: none;
	}
}